.file-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.06) 2px 2px 4px 0px inset;
  max-width: 300px;
  max-height: 400px;
  overflow: hidden;
  background-color: #fff;
}

h2 {
  text-align: center;
}

.dlt-btn {
  margin-top: 8px;
  padding: 8px 16px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #b30000;
}

.file-image {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

/* ParentContainer.css */
.parent-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.notification {
  background-color: #1088a6;
  color: #fff;
  padding: 15px;
  margin-top: 10px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dwnld-btn {
  background-color: #26b23e;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dwnld-btn:hover {
  background-color: #19902d;
}

.dwnld-icon {
  margin-right: 5px;
}
